@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zay Shop - Product Listing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/templatemo.css">
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <!--

    TemplateMo 559 Zay Shop

    https://templatemo.com/tm-559-zay-shop

    -->
</head>

<body>


    <div class="container py-5">
        <div class="row">
            <!-- القائمة الجانبية -->
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Clothes
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">All</a></li>
                            <li><a class="text-decoration-none" href="#">Casual</a></li>
                            <li><a class="text-decoration-none" href="#">Classic</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- المحتوى الرئيسي -->
            <div class="col-lg-9">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- منتجات متساوية في الحجم -->
                <div class="row">
                    <!-- المنتج 1 -->
                    <div class="col-md-4 mb-4">
                        <div class="card product-wap rounded-0 h-100">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="/img/51.jpg" style="height: 300px; object-fit: cover;">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <a href="shop-single.html" class="h3 text-decoration-none">Man-Shirt</a>
                                <p class="mb-2">Men's casual shirt</p>
                                <p class="mb-0">$500.00</p>
                            </div>
                        </div>
                    </div>

                    <!-- المنتج 2 -->
                    <div class="col-md-4 mb-4">
                        <div class="card product-wap rounded-0 h-100">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="/img/30.jpg" style="height: 300px; object-fit: cover;">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <a href="shop-single.html" class="h3 text-decoration-none">Summer-Vibes</a>
                                <p class="mb-2">Be Cool</p>
                                <p class="mb-0">$300.00</p>
                            </div>
                        </div>
                    </div>

                    <!-- المنتج 3 -->
                    <div class="col-md-4 mb-4">
                        <div class="card product-wap rounded-0 h-100">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="/img/11.jpg" style="height: 300px; object-fit: cover;">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <a href="shop-single.html" class="h3 text-decoration-none">jeans-shirt</a>
                                <p class="mb-2">Comfortable jeans shirt</p>
                                <p class="mb-0">$450.00</p>
                            </div>
                        </div>
                    </div>

                    <!-- المنتج 4 -->
                    <div class="col-md-4 mb-4">
                        <div class="card product-wap rounded-0 h-100">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="/img/shop_05.jpg" style="height: 300px; object-fit: cover;">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <a href="shop-single.html" class="h3 text-decoration-none">Suger-Dady-Suit</a>
                                <p class="mb-2">Oh Suger Dady</p>
                                <p class="mb-0">$5000.00</p>
                            </div>
                        </div>
                    </div>

                    <!-- المنتج 5 -->
                    <div class="col-md-4 mb-4">
                        <div class="card product-wap rounded-0 h-100">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="/img/36.jpg" style="height: 300px; object-fit: cover;">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <a href="shop-single.html" class="h3 text-decoration-none">Black-Suit</a>
                                <p class="mb-2">Black Always win</p>
                                <p class="mb-0">$2500.00</p>
                            </div>
                        </div>
                    </div>

                    <!-- المنتج 6 -->
                    <div class="col-md-4 mb-4">
                        <div class="card product-wap rounded-0 h-100">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="/img/shop_07.jpg" style="height: 300px; object-fit: cover;">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <a href="shop-single.html" class="h3 text-decoration-none">Blue-Jacket</a>
                                <p class="mb-2">very Elegent</p>
                                <p class="mb-0">$1000.00</p>
                            </div>
                        </div>
                    </div>

                    <!-- المنتج 7 -->
                    <div class="col-md-4 mb-4">
                        <div class="card product-wap rounded-0 h-100">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="/img/53.jpg" style="height: 300px; object-fit: cover;">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <a href="shop-single.html" class="h3 text-decoration-none">Green-shirt</a>
                                <p class="mb-2">Magic</p>
                                <p class="mb-0">$200.00</p>
                            </div>
                        </div>
                    </div>

                    <!-- المنتج 8 -->
                    <div class="col-md-4 mb-4">
                        <div class="card product-wap rounded-0 h-100">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="/img/61.jpg" style="height: 300px; object-fit: cover;">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <a href="shop-single.html" class="h3 text-decoration-none">Gray-Suit</a>
                                <p class="mb-2">Thats Amazing</p>
                                <p class="mb-0">$4000.00</p>
                            </div>
                        </div>
                    </div>

                    <!-- المنتج 9 -->
                    <div class="col-md-4 mb-4">
                        <div class="card product-wap rounded-0 h-100">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="/img/56.jpg" style="height: 300px; object-fit: cover;">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <a href="shop-single.html" class="h3 text-decoration-none">Youth-Flower</a>
                                <p class="mb-2">Stylish Design</p>
                                <p class="mb-0">$400.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
  
    <!-- Start Script -->
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/templatemo.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- End Script -->
</body>

</html>